.content-1 {
    margin-top: 20%;
}

.content {
    margin-top: 3%;
}

.clip {
    transform: rotate(-180deg);
    width: 180px;
    height: 51px;
}

h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    font-variant: small-caps;
    color: #0C4EA2;
}

.content p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #0B192C;
}

.content a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: #B09B4D;
    text-decoration: none;
}

.announcement {
    margin-bottom: 40px;
}

.hclip {
    position: relative;
}

.date {
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px!important;
    line-height: 10px;
    text-transform: capitalize;
    color: #FFFFFF!important;
    padding-right: 0!important;
}

ol li {
    display: inline;
    color: #000;
    padding: 10px;
}

ol .active {
    color: #B09B4D;
}

ol {
    margin: 0 40%;
}