{% extends 'about-base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}    
    <div class="row">
            <div class="about d-flex flex-lg-row flex-column flex-md-column
            justify-content-between flex-sm-column">
                <div>
                    <h1>ABOUT SRM</h1>
                </div>
                <div>
                    <p>Home > About SRM > Facts</p>
                </div>
            </div>
        </div>
        <div class="row hide-on-small">


            <ul class="sub-nav">
                <li>
                    <a href="{% url 'about_pages:srminfocus' %}">FACTS</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:ourcampus' %}">CAMPUS</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:accwelcomehostel' %}" class="active">ACCOMODATION</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:govpublicinterest' %}">GOVERNANCE</a>
                </li>
                <li>
                    <a href="https://www.srmist.edu.in/placement/">CAREER CENTRE</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:visitingaboutktr' %}">VISIT SRM</a>
                </li>
                <li>
                    <a href="https://care.srmist.edu.in/#/">SRM CARE</a>
                </li>

                <div class="rule"></div>
            </ul>
        </div>
        <button class="btn btn-primary d-lg-none sub-nav-icon" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        
          </button>

        <div class="collapse" id="collapseExample">



            <ul class="sub-nav">
                <li>
                    <a href="{% url 'about_pages:srminfocus' %}">FACTS</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:ourcampus' %}">CAMPUS</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:accwelcomehostel' %}" class="active">ACCOMODATION</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:govpublicinterest' %}">GOVERNANCE</a>
                </li>
                <li>
                    <a href="https://www.srmist.edu.in/placement/">CAREER CENTRE</a>
                </li>
                <li>
                    <a href="{% url 'about_pages:visitingaboutktr' %}">VISIT SRM</a>
                </li>
                <li>
                    <a href="https://care.srmist.edu.in/#/">SRM CARE</a>
                </li>

                <div class="rule"></div>
            </ul>

        </div>
        <div class="row ">
            <div class="col-lg-3 hide-on-small">
                <ul class="side-nav">
                    <li><a href="{% url 'about_pages:accwelcomehostel' %}">WELCOME TO SRM HOSTELS</a></li>
                    <li><a href="{% url 'about_pages:accvision' %}">VISION</a></li>
                    <li><a href="{% url 'about_pages:acchostelmen' %}">HOSTELS FOR MEN</a></li>
                    <li><a href="{% url 'about_pages:acchostelwomen' %}">HOSTELS FOR WOMEN</a></li>
                    <li><a href="https://webstor.srmist.edu.in/web_assets/srm_mainsite/files/2019/Pictorial-view-hostel-2019.pdf">PICTORIAL VIEW OF HOSTELS</a></li>
                    <li><a href="{% url 'about_pages:accwhoapply' %}">WHO CAN APPLY?</a></li>
                    <li><a href="{% url 'about_pages:acchowwhenapply' %}">HOW AND WHEN TO APPLY?</a></li>
                    <li><a href="{% url 'about_pages:acchostelncr' %}">HOSTEL - NCR CAMPUS</a></li>
                    <li><a href="{% url 'about_pages:acccontactus' %}">CONTACT US</a></li>
                    <li><a href="{% url 'about_pages:accinthostel' %}">INTERNATIONAL HOSTEL</a></li>
                </ul>
            </div>
            <div class="owl-carousel owl-theme d-lg-none">
                <div class="item">
                    <ul>
                        <li><a href="{% url 'about_pages:accwelcomehostel' %}">WELCOME TO SRM HOSTELS</a></li>
                        <li><a href="{% url 'about_pages:accvision' %}">VISION</a></li>
                        <li><a href="{% url 'about_pages:acchostelmen' %}">HOSTELS FOR MEN</a></li>
                    </ul>

                </div>
                <div class="item">
                    <ul>
                        <li><a href="{% url 'about_pages:acchostelwomen' %}">HOSTELS FOR WOMEN</a></li>
                        <li><a href="https://webstor.srmist.edu.in/web_assets/srm_mainsite/files/2019/Pictorial-view-hostel-2019.pdf">PICTORIAL VIEW OF HOSTELS</a></li>
                        <li><a href="{% url 'about_pages:accwhoapply' %}">WHO CAN APPLY?</a></li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li><a href="{% url 'about_pages:acchowwhenapply' %}">HOW AND WHEN TO APPLY?</a></li>
                        <li><a href="{% url 'about_pages:acchostelncr' %}">HOSTEL - NCR CAMPUS</a></li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li><a href="{% url 'about_pages:acccontactus' %}">CONTACT US</a></li>
                        <li><a href="{% url 'about_pages:accinthostel' %}">INTERNATIONAL HOSTEL</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 content">
                <h4>Student Accomodation > Who can Apply?</h4>
                <h1>WHO CAN APPLY?</h1>
                <br>
                <p style='font-size:20px'>Eligible Categories:</p>
                <p>
                    <ul>
                        <li>Full time bonafide research scholars (M. Phil. & Ph.D. students).</li>
                        <li>Full time bonafide undergraduate & postgraduate students of Faculty of Engineering and Technology, Medicine and Health Sciences, Science & Humanities.</li>
                        <li>Full time bonafide under graduate & post graduate students of SRM Family of Educational Institution.</li>
                        <li>Full-time bonafide diploma students of Polytechnic and Hotel Management.</li>
                    </ul>
                </p>
                <p style='font-size:20px'>Non - Eligible Categories:</p>
                <p>
                    <ul>
                        <li>Working men / women and ex-students.</li>
                        <li>Students who have failed and are not re-admitted as regular students.</li>
                        <li>Students enrolled in an evening course, correspondence or any external course of study.</li>
                        <li>Students penalized for indiscipline activities.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}